form#form.form(action="#")
	.form__inputs.inputs
		.inputs__container
			.inputs__address.address
				.address__address
					i.address__icon.fa.fa-map-marker(aria-hidden="true")
					input.address__input.address__input-address#whence(placeholder="Откуда" autocomplete="off")
					input.address__input.address__input-house.address__input-other(placeholder="Дом" autocomplete="off")
					input.address__input.address__input-front.address__input-other(placeholder="Пар." autocomplete="off")
				ul.address__hints.hints
			.inputs__address.address
				.address__address
					i.address__icon.fa.fa-map-marker(aria-hidden="true")
					input.address__input.address__input-address#where(placeholder="Куда" autocomplete="off")
					input.address__input.address__input-house.address__input-other(placeholder="Дом" autocomplete="off")
					input.address__input.address__input-front.address__input-other(placeholder="Пар." autocomplete="off")
				ul.address__hints.hints
			.inputs__options.options
				.options__main.car.person
					.options__mainPart.car__choice.car__choice-sedan.active(data-name = "Седан")
						img.car__img(src='images/sedan.png')
						.car__name Седан
						.car__price 1.5 руб
					.options__mainPart.car__choice.car__choice-minivan(data-name = "Минивен")
						img.car__img(src='images/minivan.png')
						.car__name Минивен
						.car__price 2 руб
					.options__mainPart.options__person
						p.person__title.person__part Телефон:
						input.person__phone.person__part#phone(placeholder='+375(__)___-__-__' data-inputmask="'phone': 'customAlias'")
				.options__more.more
					.more__url Комментарий и доп. опции
					.more__menu
						.more__option
							img.more__img.more__part(src='images/additional_1.svg')
							p.more__name.more__part Детское кресло
							p.more__price.more__part Бесплатно
						.more__option
							img.more__img.more__part(src='images/additional_12.svg')
							p.more__name.more__part Квитанция об оплате
							p.more__price.more__part Бесплатно
						.more__option
							img.more__img.more__part(src='images/additional_17.svg')
							p.more__name.more__part Молчаливый водитель
							p.more__price.more__part Бесплатно
						.more__option
							img.more__img.more__part(src='images/additional_14.svg')
							p.more__name.more__part Wi-Fi
							p.more__price.more__part Бесплатно
						.more__option(data-price='1')
							img.more__img.more__part(src='images/additional_3.svg')
							p.more__name.more__part Поездка с животными
							p.more__price.more__part +1 pуб
						.more__option
							img.more__img.more__part(src='images/additional_7.svg')
							p.more__name.more__part Зарядка телефона
							p.more__price.more__part Бесплатно
						.more__option
							img.more__img.more__part(src='images/additional_13.svg')
							p.more__name.more__part Курьерская доставка
							p.more__price.more__part Бесплатно
						textarea.more__comment(rows='5' placeholder='Комментарий. Например: Хочу поехать в тишине.')
			button.inputs__submit.submit(type="submit" disabled = 'true') Вызвать такси
				.trip
					.trip__price
			.form__ver.ver
				.ver__whence
					.var__name Откуда:
					.var__value ул. Солянникова, дом 4, парадная 4.ул. Солянникова, дом 4, парадная 4.
				.ver__where
					.var__name Куда:
					.var__value ул. Солянникова, дом 4, парадная 4.
				.ver__phone
					.var__name Телефон для связи:
					.var__value +375(25)654-06-94.
				.var__car
					.var__name Автомобиль:
					.var__value седан.
				.ver__options
				.var__price
					.var__name Цена:
					.var__value ~ 4 руб.
				

	.form__map.map#YMapsID